username
password
main
main.exe
*.xlsx 
config_wp.json
config_rb.json  
IAM
OAuthToken
token
*.html
tmp/*
*.log
*.json
LV
/hm/
/zara/
/md/
/ss/
/*_sub/
/*_tr/
/*_err/
trendyol
FolderID
*.txt
/foldertest
*.zip
upd_all
upd_hm
upd_no_hm
act_all
bin/
